<!-- TODO: crear una directiva -->
<section id="search" ng-controller="SearchCtrl as vm">

  <div class="container">
		<div class="row">
			<div class="span12">

      <h2><span class="icon-search" aria-hidden="true"></span> Introduce una URL válida de tu API</h2>
      <input type="text" ng-model="vm.url" placeholder="https://domain/api/v1/products" />

      <a ng-click="vm.find(vm.url)" class="btn btn-primary btn-block">Buscar</a>

      <br /><br />

      <ul>
        <li ng-repeat="item in vm.dataAPI">
          <p ng-repeat="field in vm.fields">
            {{item[field]}}
          </p>
        </li>
      </ul>

      <p ng-repeat="item in vm.testArray">
        <input type="text" ng-model="vm.newItem[item]" placeholder="{{item}}" />
      </p>

      {{vm.newItem}}

      <a ng-click="vm.post(vm.newItem)" class="btn btn-primary btn-block">Add</a>

      </div>
		</div>
	</div>


</section>
