<header>
  <div class="container">
    <div class="row">
      <div class="span12">

        <h1>{ Apiman }</h1>
        <h2>GET, POST, PUT & DELETE easily</h2>

      </div>
    </div>
  </div>
</header>

<a href="https://github.com/rldona"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

<section id="search">

  <div class="container">
  	<div class="row">
  		<div class="span12">

        <h2 class="slogan">Add the URL of your collection MongoDB data base and manages all operations</h2>

        <div id="search-main">
          <input type="text" ng-model="vm.url" placeholder="Example: https://domain/api/v1/products" />
          <!-- <a ng-click="vm.getData()" class="btn main right">Send</a> -->
          <ul>
            <li><a ng-click="vm.getData()" class="btn opt get">GET</a></li>
            <li><a ng-click="vm.showPostForm()" class="btn opt post">POST</a></li>
            <li><a ng-click="vm.getData()" class="btn opt put">PUT</a></li>
            <!-- <li><a ng-click="vm.deleteData(vm.url, 'input')" class="btn opt delete">DELETE</a></li> -->
          </ul>
        </div>

      </div>
  	</div>
  </div>

</section>

<section id="errors" ng-show="vm.errorData.show">
  <div class="container">
  	<div class="row">
  		<div class="span12">

        {{vm.errorData.method}} | {{vm.errorData.status}} | {{vm.errorData.message}}

      </div>
    </div>
  </div>
</section>

<section id="form-post" ng-show="vm.postForm">
  <div class="container">
  	<div class="row">
  		<div class="span12">

        <article>

          <h2>Add as many elements as are necessary for your object</h2>

          <div ng-repeat="item in vm.itemsPost">
            <input type="text" ng-model="objFormPost.name" placeholder="Field 1" />
            <input type="text" ng-model="objFormPost.sku" placeholder="Field 2" />
            <input type="text" ng-model="objFormPost.price" placeholder="Field 3" />
          </div>

          {{vm.itemsPost}}

          <a ng-click="vm.addItem()" class="btn opt left gray">New item</a>
          <a ng-click="vm.postData(objFormPost)" class="btn opt right">Send</a>
          <a ng-click="vm.hidePostForm()" class="btn opt delete close"><span>x</span></a>

        </article>

      </div>
    </div>
  </div>
</section>

<section id="results" ng-show="vm.showResult">

  <div class="container">
  	<div class="row">
  		<div class="span12">

        <article>

          <ul ng-if="vm.dataAPI">
            <li ng-repeat="item in vm.dataAPI">
              <p ng-repeat="field in vm.fields" ng-if="field != '__v'">
                <span id="field">{{field}}</span> <span id="item_field">{{item[field]}}</span>
              </p>
              <a ng-click="vm.deleteData(item._id)" id="removeField" class="btn btn-primary btn-block"><span>Delete</span></a>
            </li>
          </ul>

          <div ng-if="!vm.dataAPI">
            <p>[ ]</p>
          </div>

        </article>

      </div>
    </div>
  </div>

</section>
