/***************************************
  = GENERAL
***************************************/

body {
  font: normal 400 $font_base_size 'Open Sans', arial;

  color: #000;
  background: #f4f4f6;

  -webkit-overflow-scroll: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-backface-visibility: hidden;
}

input {
  display: block;
  outline: none;
  width: 100%;
}

.btn {
  background-color: #FFF;
  padding: 0.5em 1em;
  display: block;
  width: 100px;
  max-width: 50%;
  text-align: center;
  cursor: pointer;
}

.right {
  float: right;
}

.left {
  float: left;
}

/***************************************
  = HEADER
***************************************/

header {
  background: #242424;
  padding: 2em;
  color: #FFF;
  h1 {
    font: normal 600 1.2em 'Monserrat', arial;
    float: left;
  }
  h2 {
    float: right;
  }
}

/***************************************
  = SEARCH
***************************************/

#search {
  padding: 4em 0;
  background-color:  #75AEDD;
  .btn {
    position: absolute;
    right: 19px;
    top: 16px;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    border: 1px solid #1A88BB;
    background-color: #2799CE;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
  }
  h2 {
    font: normal 400 1.2em 'Monserrat', arial;
    color: #FFF;
    margin-bottom: 1em;
  }
  #search-main {
    padding: 1em;
    background-color: rgba(107, 157, 198, 0.8);
    border-radius: 20px;
    position: relative;
    width: 80%;
    margin: 0 auto;
    input {
      width: 95%;
      padding: 0.85em;
      border: 0;
      font: normal 300 1.1em "Open Sans";
      border-radius: 10px 0 0 10px;
      box-shadow: inset 0 0 5px 0px #777;
    }
  }
}

/***************************************
  = ERRORS
***************************************/

#errors {
  background-color: #D85F5F;
  padding: 1em;
  color: #FFF;
  text-align: center;
}

/***************************************
  = RESULTS
***************************************/

#results {
  padding: 4em;
  article {
    width: 80%;
    margin: 0 auto;
    background: #FFF;
    padding: 2em;
    border: 1px solid #ededf0;
    border-bottom: 1px solid #dcdce0;
  }
}

/***************************************
  = ANIMATIONS
***************************************/

// zoom

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// zoom-zoom

@-webkit-keyframes zoom-zoom {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    color: $white;
    background-color: transparent;
  }
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);

    color: $black;
    background-color: $white;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    color: $white;
    background-color: transparent;
  }
}

@keyframes zoom-zoom {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    color: $white;
    background-color: transparent;
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    color: $black;
    background-color: $white;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

    color: $white;
    background-color: transparent;
  }
}

// move logo small

@-webkit-keyframes logo-small-move {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0;
  }
}

@keyframes logo-small-move {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0;
  }
}

// fade-in

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// rotate

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// fade-out

@-webkit-keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
